*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/markdown.xml
.idea/misc.xml
.gradle/
build/
*/build/
local.properties
.externalNativeBuild/
.cxx/
/captures/
.DS_Store
docs/